<ion-view view-title='Menu'>
<ion-content>

	<a ui-sref="create-event">
		<button class="button button-full button-outline button-positive">
			creer un evenement 
		</button>
	</a>

	<a ui-sref="my-events">
		<button class="button button-full button-outline button-positive">
			Mes evenements 
		</button>
	</a>

	<a ui-sref="event-list">
		<button class="button button-full button-outline button-positive">
			Voir les evenements 
		</button>
	</a>

	<a ui-sref="create-event">
		<button class="button button-full button-outline button-positive">
			Mon profil 
		</button>
	</a>


</ion-content>
</ion-view>