<ion-view view-title="Creer un evenement">
<ion-content>
<div class="list">
<form ng-submit="submit(Event)">
		<label class="item item-input">
			<input ng-model="Event.title" type="text" name="title" placeholder="Nom de l'event">
		</label>

		<label class="item item-input">
			<input ng-model="Event.duration" type="text" name="duration" placeholder="dur&eacute;e">
		</label>

		<label class="item item-input">
			<input ng-model="Event.date" type="date" name="date" placeholder="date">
		</label>

		<label style="width:100%;" class="item item-input item-select">
			<div class="input-label">
				Sport
			</div>
			<select ng-model="Event.sports" name="sports" style="width:100%;">
				<option selected>Football</option>
				<option >Basketball</option>
				<option>rugby</option>
			</select>
		</label>

		<label class="item item-input">
			<textarea ng-model="Event.description" name="description" placeholder="Description"></textarea>
		</label>

		<button type="submit" class="button button-block button-positive">
			Submit
		</button>
	</form>			
</div>
</ion-content>
</ion-view>