<ion-view view-title="Detail de l'evenement">
	<ion-content>
	

	<div class="list card">

	  <div class="item item-icon-left">
	    <span><b>date</b></span>
	    {{evt.date}}
	  </div>

	  <div class="item item-icon-left">
	    <span><b>duration</b></span>
	    {{evt.duration}}
	  </div>

	  <div class="item item-icon-left">
	    <span><b>sports</b></span>
	    {{evt.sports.join(',')}}
	  </div>

	  <div class="item item-icon-left">
	    <span><b>participants</b></span>
	    {{evt.participants.length}}
	  </div>

	  <div class="item item-icon-left">
	    <span><b>description</b></span>
	    {{evt.description}}
	  </div>
	</div>


	</ion-content>
</ion-view>
