<ion-view view-title="edit event">
<ion-content>
<div class="list">
<form ng-submit="submit(evt)">
		<label class="item item-input">
			<input ng-model="Event.title" type="text" name="title" value="{{evt.title}}" placeholder="Nom de l'event">
		</label>

		<label class="item item-input">
			<input ng-model="Event.duration" value="{{evt.duration}}" type="text" name="duration" placeholder="dur&eacute;e">
		</label>

		<label class="item item-input">
			<input ng-model="Event.date" value="{{evt.date}}" type="date" name="date" placeholder="date">
		</label>

		<label style="width:100%;" class="item item-input item-select">
			<div class="input-label">
				Sport
			</div>
			<select multiple ng-model="Event.sports" ng-repeat="key,sport in sports" name="sports" style="width:100%;">
			<!-- faire un truc avec indexOf pour selectioner par defaut les sports de l'event -->
				<option  value="foot">Football</option>
				<option >Basketball</option>
				<option>rugby</option>
			</select>
		</label>

		<label class="item item-input">
			<textarea ng-model="Event.description" value="{{evt.description}}" name="description" placeholder="Description"></textarea>
		</label>

		<button type="submit" class="button button-block button-positive">
			Submit
		</button>
	</form>			
</div>
</ion-content>
</ion-view>