<ion-view  view-title="Mes evenements">
	<ion-content>

<ion-list class="list" show-delete="false" can-swipe="true">
    
    <ion-item class="item-thumbnail-left" ng-repeat="event in events" ui-sref="event-detail({id: event._id})">
    	<!-- <a class="item-thumbnail-left" > -->
		    <!-- remplacer l'image par le owner.avatar -->
		      <img ng-src="img/perry.png">
		      <h2>{{event.title}}</h2>
		      <ul>
		      	<li>
		      		 <i class="icon ion-clock"></i>
    					{{event.date}}
		      	</li>
		      	<li>
		      		 <i class="icon ion-ios-stopwatch-outline"></i>
    					{{event.duration}} minutes
		      	</li>
		      	<li>
		      		 <i class="icon ion-ios-football"></i>
    					{{event.sports.join(',')}}
		      	</li>
		      </ul>
		    <!-- </a> -->


        <ion-option-button ng-click="delete(event)" class="button-assertive icon ion-trash-a">delete</ion-option-button>
    </ion-item>
</ion-list>









	</ion-content>
</ion-view>
