<ion-view>
	<ion-content>

	<a ui-sref="sign-in">
		<button class="button button-block button-positive">
		  connection
		</button>
	</a>

	<a ui-sref="sign-up">
		<button class="button button-block button-positive">
		  inscription
		</button>
	</a>

	</ion-content>
</ion-view>