<ion-view view-title="inscription">
<ion-content>
<form ng-submit="submit(user)">
	<div class="list list-inset">
		<label class="item item-input">
			<input ng-model="user.name" type="text" placeholder="name">
		</label>
		<label class="item item-input">
			<input ng-model="user.email" type="text" placeholder="email">
		</label>
		<label class="item item-input">
			<input ng-model="user.password" type="password" placeholder="password">
		</label>
	</div>
	<div class="padding">
		<button type="submit" class="button button-block button-positive">Submit</button>
	</div>
</form>
</ion-content>
</ion-view>