<ion-view>
<ion-content>
	<form ng-submit="submit(user)">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" ng-model="user.email" placeholder="email">
			</label>
			<label class="item item-input">
				<input ng-model="user.password" type="password" placeholder="password">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive">Submit</button>
		</div>
	</form>
	</ion-content>
</ion-view>